body {
  background-color: seashell;
  font-family: sans-serif;
}
/* Estilos para el header */
.header {
  align-items: center;
  background-color: #dedede;
  display: flex;
  flex-direction: column;
}

.nombre-usuario {
  color: #222222;
  font-size: 1.5em;
  margin: 0;
}

.titulo-personal {
  font-size: 1.3em;
  margin: 0;
  transform: translate(80%, -40%);
}

/* Estilos para el navbar */

nav {
  background-color: #222222;
  padding: 30px;
  position: sticky;
}

nav a {
  color: #dedede;
  font-weight: 600;
  margin-left: 60px;
}

/* Estilos para el main.  */

main {
  margin: 100px;
}

section h4 {
  letter-spacing: 5px;
  margin-bottom: 40px;
  margin-top: 50px;
  text-decoration: underline 2px;
  text-transform: uppercase;
}

.contenedor {
  display: flex;
  margin: 0 10em 0 8em;
}

/* Estilos left-side screen */
.section-left {
  border-right: 3px solid black;
  display: flex;
  padding: 0 100px 0 10px;
  width: 40%;
}

.perfil-profesional {
  display: block;
}

.resumen-profesional {
  text-align: justify;
}

/* Estilos para información de contacto */
.contact-social {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}

.social-container {
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
}

.social-container a {
  text-decoration: none;
  color: darkseagreen;
}

.icon-container {
  color: orange;
  font-size: 40px;
  height: fit-content;
  width: 50px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.contact-info p {
  margin: 0 0 2px 10px;
}

/* Estilos para habilidades */

.hard-habilities,
.soft-skills {
  display: flex;
  flex-direction: column;
}

.language-box,
.soft-box {
  display: flex;
  align-items: center;
}

.language-box i{
  display: flex;
  justify-content: center;
}

.hability ul {
  list-style-type: none;
  padding-left: 5px;
}

.hability li {
  display: flex;
  align-items: center;
  margin: 5px 0 5px 10px;
}

.hability i {
  font-size: 40px;
  padding-right: 25px;
  width: 40px;
}

/* Estilos right-side screen */
.section-right {
  display: flex;
  padding: 0 10px 0 50px;
  width: auto;
}
/* Estilos para la .experiencia */

.exp-container {
  padding: 0 0 30px 0;
  text-align: justify;
}

.exp-container .description li {
  margin: 0 0 10px 5px;
  list-style-type: square;
}

ul .exp-container > li,
ul .exp-container p {
  padding-left: 50px;
}

ul .exp-container li {
  list-style: disc;
}

.company-name {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: large;
  font-weight: 900;
}

.dates {
  font-size: medium;
  font-style: italic;
  font-weight: 400;
}

.description {
  font-style: normal;
  font-size: small;
  font-weight: 600;
}
/* Estilos para la educación */
.profesion-box {
  display: flex;
  flex-direction: column;
}

.carrera{
  font-weight: 900;
}

.casa-estudios {
  font-style: italic;
  text-align: justify;
}

footer {
  display: flex;
  align-items: center;
  background-color: #222222;
  color: #dedede; 
  font-weight: 600;
  justify-content: center;
  height: 90px;
  margin: 0;
}

/* Estilos para portafolio.html */
.cards {
  display: flex;
}

.card {
  cursor: pointer;
  transition: 0.5s;
  padding: 0 25px;
  width: 50%;
}

.card:hover img {
  opacity: 1;
}

.card img {
  object-fit: cover;
  border: 2px solid;
  opacity: 0.8;
  width: 100%;
  height: 100%;
}
